body {
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button { 
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

button:hover{ 
    background-color: whitesmoke;
    color: black;
}

.title { 
    text-align: center;
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 100;
}

#calendar {
    max-width: 800px;
}

#month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: black;
    color: white;
}

#month-year {
    font-size: 20px;
}

#weekdays, #days {
    display: flex;
    flex-wrap: wrap;
}

#weekdays div, #days div {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px;
}

#days div {
    cursor: pointer;
    transition: background 0.3s;
}

#days div:hover {
    background: whitesmoke;
    color: black;
}
