#title { 
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin: 40px;
}

.converter-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
}

#currency1, #currency2 {
    margin-bottom: 20px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    transition: ease-in;
}
