<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./news-feed.css">
    <title>News</title>
</head>
<body>
    <div class="container">
        <div class="brand">
            News
        </div>

        <div class="nav-bar">
            <button class="selected">General</button>
            <button>Entertainment</button>
            <button>Health</button>
            <button>Science</button>
            <button>Sports</button>
            <button>Technology</button>
        </div>
    </div>

    <div class="news-list">
        <div class="news-item">
            <img src="/images/news.jpg" alt="">
            <a href=""><p class="news-title">News Title</p></a>
            <p class="news-description">News Description</p>
        </div>

        <div class="news-item">
            <img src="/images/news.jpg" alt="">
            <a href=""><p class="news-title">News Title</p></a>
            <p class="news-description">News Description</p>
        </div>

        <div class="news-item">
            <img class="news-img" src="/images/news.jpg" alt="">
            <a href=""><p class="news-title">News Title</p></a>
            <p class="news-description">News Description</p>
        </div>
    </div>

    <script src="./news-feed.js"></script>
</body>
</html>