<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/components/notes.css">
</head>

<body>
    <div class="container">
        <button class="exit-btn">X</button>
        <div class="title">
            Notes
            <button id="new-note-button">New Note</button>
            <button id="menu-button">Menu</button>
        </div>

            <div class="note-list" id="note-list">
                <div class="active-folder" id="active-folder-name">Folder Name</div>
                <div class="list-items">
                    <ul>
                        <li><div class="list-item">Note Name</div></li>
                        <li><div class="list-item">Note Name</div></li>
                        <li><div class="list-item">Note Name</div></li>
                        <li><div class="list-item">Note Name</div></li>
                        <li><div class="list-item">Note Name</div></li>
                        <li><div class="list-item">Note Name</div></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="note-view hidden" id="note-view">

            <div class="view-container">
                <div class="note-title" id="note-title">Note Title <button class="exit-btn" id="exit-edit-button">X</button></div>
                <button id="save-note-button">Save</button>
                <button id="clear-note-button">Delete</button>
            </div>

            <div class="view-container" id="edit-container">
                <textarea name="" id="note-editor" placeholder="Notes..."></textarea>
            </div>
        </div>

    <script src="/components/notes.js"></script>
</body>
</html>
