<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./recipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="brand">
            Recipe Book
        </div>

        <div class="recipe-search">
            <input type="text" id="search-form" placeholder="Search Recipe...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="search-result">
            <div class="result-items">
                <img class="recipe-img" src="" alt="">
                <div class="flex-container">
                    <h1 class="recipe-title"></h1>
                    <a href=# class="view-recipe-button"></a>
                </div>

                <div class="result-data">
                    <p class=""></p>
                </div>
            </div>

            <div class="result-items">
                <img class="recipe-img" src="" alt="">
                <div class="flex-container">
                    <h1 class="recipe-title"></h1>
                    <a href=# class="view-recipe-button"></a>
                </div>

                <div class="result-data">
                    <p class=""></p>
                </div>
            </div>

            <div class="result-items">
                <img class="recipe-img" src="" alt="">
                <div class="flex-container">
                    <h1 class="recipe-title"></h1>
                    <a href=# class="view-recipe-button"></a>
                </div>

                <div class="result-data">
                    <p class=""></p>
                </div>
            </div>

            <div class="result-items">
                <img class="recipe-img" src="" alt="">
                <div class="flex-container">
                    <h1 class="recipe-title"></h1>
                    <a href=# class="view-recipe-button"></a>
                </div>

                <div class="result-data">
                    <p class=""></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/components/recipe.js"></script>
</body>
</html>