<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./stop-watch.css">
    <title>Stop-Watch Alarm Clock</title>
</head>
<body>

    <div id="clock">
        <div id="time">12:00</div>
        <div id="location">Location Loading</div>
        <button id="alarm-tab">Alarm</button>        
        <button id="stopwatch-tab">Stop Watch</button>
        <button id="timer-tab">Timer</button>
    </div>

    <div class="hidden" id="alarm-clock">
        <div id="alarm-container">
            <div id="alarm-title">
                Alarms
                <button id="new-alarm">New</button>
            </div>

            <div id="alarm-settings" class="hidden">
                <label for="alarm-time">Alarm Time:</label>
                <input type="time" id="alarm-time">
                <button id="set-alarm">Submit</button>
            </div>
        
            <div class="alarm-list">
                <ul id="alarm-list"></ul>
            </div>
            <h2 id="alarm-status"></h2>
        </div>
        
        <div id="edit-modal" class="modal hidden">
            <div id="modal-content">
                <div id="modal-header">
                    Edit Alarm
                </div>
                <div id="modal-body">
                    <label for="edit-time">New Alarm Time:</label>
                    <input type="time" id="edit-time">
                </div>
                <div id="modal-footer">
                    <button id="save-edit" class="modal-button">Save</button>
                    <button id="cancel-edit" class="modal-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden" id="stop-watch-container">
        <div id="stop-watch-title">Stop Watch</div>
        <div id="stop-watch">00:00:00</div>
        <button id="stop-button">Stop</button>
        <button id="start-button">Start</button>
        <button id="reset-button">Reset</button>
    </div>

    <div id="timer-container" class="hidden">
        <div id="timer-title">Timer</div>
        <div id="time-picker" class="hidden">
            <input type="number" id="hours" placeholder="H" min="0" max="99" step="1">
            <span>:</span>
            <input type="number" id="minutes" placeholder="M" min="0" max="59" step="1">
            <span>:</span>
            <input type="number" id="seconds" placeholder="S" min="0" max="59" step="1">
            <button id="set-timer">Submit</button>
        </div>
        <div id="timer">00:00:00</div>
        <button id="start-countdown-button">Start</button>
        <button id="stop-countdown-button">Stop</button>
    </div>

    <script src="./stop-watch.js"></script>
</body>
</html>