body, label, input, button {
    font-family: 'Poppins';
    color: whitesmoke;
    font-weight: 100;
    background-color: black;
}

#clock, #alarm-clock, #stop-watch-container, #timer-container {
    padding: 10px;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    color: whitesmoke;
}

button {
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid whitesmoke;
}

button:hover, #edit-modal button:hover, #alarm-clock button:hover, #stop-watch-container button:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid whitesmoke;
    font-weight: normal;
}

button:active, #clock button:active, #stop-watch-container button:active {
    background-color: whitesmoke;
    color: black;
}

#time, #alarm-title, #modal-header, #stop-watch-title, #timer-title {
    font-size: 50px;
    font-weight: 100;
    color: whitesmoke;
}

#alarm-list {
    font-size: 35px;
    list-style: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.hidden {
    display: none;
}

/* Specific Styles */
#clock {
    padding: 50px;
}

#time {
    font-size: 50px;
}

#alarm-clock {
    align-items: center;
    justify-content: center;
}

#modal-header {
    font-size: 40px;
    padding: 10px;
}

#edit-modal, #time-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px 0;
    max-width: 500px;
    width: 100%;
    background-color: black;
    z-index: 1000;
}

#modal-body {
    padding: 20px;
    font-size: 25px;
}

#stop-watch-container button, #timer-container button {
    font-size: 1em;
}

#timer-container button:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: normal;
}

#alarm-clock input, #timer-container input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#stop-watch, #timer {
    font-size: 3em;
    margin: 20px 0;
    color: whitesmoke;
}

#time-picker {
    top: 55%;
    height: 90px;
}
