#clock { 
    padding: 50px;
    border: 1px solid whitesmoke;
}

#timer-container { 
    padding: 50px;
    border: 1px solid whitesmoke;
}

#alarm-clock { 
    padding: 50px;
    border: 1px solid whitesmoke;
}