<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./stop-watch.css">
    <title>Stop-Watch Alarm Clock</title>
</head>
<body>

    <div id="clock">
        <div id="time">12:00</div>
        <div id="location">Location Loading</div>
    </div>

    <div id="timer-container">
        Timer
        <div id="timer">00:00:00</div>
        <button id="stop-button">Stop</button>
        <button id="start-button">Start</button>
        <button id="reset-button">Reset</button>
    </div>

    <div id="alarm-clock">
        <div id="alarm-title">Alarm Clock</div>
        <div class="alarm-list">
            <ul id="alarm-list-item">
                <li>7:00AM</li>
                <li>7:15AM</li>
                <li>7:30AM</li>
            </ul>
        </div>
    </div>

    <script src="./stop-watch.js"></script>
</body>
</html>