<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/components/weather.css">
    <title>Weather</title>
</head>
<body>
    <div class="app-logo"><img id="home" src="/images/JSFS-Logo.png" onclick="openIndexPage()" alt=""></div>
    <div class="container">
        <div class="current-info">
            
            <div class="date-container">

                <div class="time" id="time">
                    12:30 <span id="am-pm">AM</span>
                </div>
                
                <div class="date" id="date">
                    Monday July 16
                </div>

                <div class="today-forecast">
                    <div class="today" id="current-temp">
                        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weather-now-icon" id="today-icon">
                        <div class="temp-now" id="temp-now"></div>
                    </div>
                </div>

                <div class="place-container">
                    <div class="time-zone" id="time-zone"> <p id="location"></p></div>
                </div>

                <div class="others" id="current-weather-items">
                </div>

            </div>

        </div>

        <div class="weather-forecast" id="weather-forecast">
            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

            <div class="weather-forecast-item">
                <div class="day"></div>
                <img src="" alt="weather icon" class="w-icon">
                <div class="temp">Day - ??#176 F</div>
                <div class="temp">Night - ??&#176 F</div>
            </div>

        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
    <script src="/components/weather.js"></script>
</body>
</html>